* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  font-family: 'MuseoModerno', cursive;
  text-align: center;
  padding: 2vh;
  color: white;
}

.main-header {
  text-align: center;
  margin: 3vh 0vh 3vh 0vh;
  color: white;
  font-size: xxx-large;
}
