.search-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10vh;
}

.search-form {
  display: flex;
  min-width: 250px;
  justify-content: center;
  margin: 0vh 10vh;
}

.search-input {
  padding: 1vh 2vh 1vh 2vh;
  width: 50vh;
  font-size: 1vh;
}

.search-input:focus {
  outline: none;
  border-color: #6C63FF;
  box-shadow: 0 0 5px #6C63FF;
}

.search-button {
  background: #6C63FF;
  color: white;
  padding: 0.5vh 1vh;
  border: 0 none;
  cursor: pointer;
  width: 30%;
  font-size: 1vh;
}

.search-button:focus {
  outline: none;
  border-color: #6C63FF;
  box-shadow: 0 0 5px #6C63FF;
}
.spinner {
  margin: 5vh;
}
