/* Pagination */

.nasa-page-numbers {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.nasa-page-numbers > li {
  margin-right: 0.3em;
  cursor: pointer;
  border: 1px solid #ddd;
  text-decoration: none;
  transition: background-color .3s;
  padding: 8px 16px;
  float: left;

}


.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 1vh 1.6vh;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0.3vh;
  cursor: pointer;
}

.pagination a.active {
  background-color: #4c3b71;
  color: white;
  border: 1px solid #4c3b71;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
